@media only screen and (max-width: 767px) {
  #page{
    .col-full {
      margin: 0 0.8em;
    }
    #content {
      margin: 0;
    }
  }//page end

  //header
  .topbar {
    display: none;
  }

  //archive products
  #secondary {
    display: none;
    width: 100%;
    padding: 1em 1.4em;
    margin-top: 1.3em;
    border-radius: 10px;
    border: 1px solid #EFEFEF;
  }

  .widget_custom_html {
    display: block;
  }

  .storefront-sorting {
    display: none;
  }

  .show_filter {
    margin: 1.4em 0;
  }

  .woocommerce-products-header {
    padding: 2em;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1em;

    .term-description {
      width: 100%;
      text-align: left;
    }
  }

  #masthead {
    .header-wrapper {
      padding: 1em 0;

      div.header-mobile {
        padding-right: 0;
      }
    }
  }
  .col-full {
    header.woocommerce-products-header {
      align-items: unset;

      .term-description {
        margin-top: 1em;
      }
    }
    #main.site-main {
      #archive-top-filters.filter-wrapper {
        display: none;
        flex-wrap: wrap;

        .widget {
          width: 49%;
          margin: 0 0 3% 0;
        }

        div.widget_custom_html {
          display: none;
        }
      }
      ul.products {
        &.columns-3 {
          grid-template-columns: 1fr 1fr;

          li.product {
            height: auto;
            .woocommerce-loop-product__link {
              padding: 0.5em;
              img {
                max-height: 100px;
                margin: 1em 0;
              }
              .price {
                bdi {
                  font-size: $font-size-base;
                }
              }
            }
          }
        }
      }
    }
  } //arhive products end

  //archive page
  .loadmore_button {
    margin: 2em auto;
  }
  .show_filter {
    display: block;
    width: 100%;
    background-color: #FFF;
    border: 1px solid $orange;
    color: $orange;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
      background-color: #FFF;
      border: 1px solid $orange;
      color: $orange;
    }
    &:active {
      background-color: $orange;
      color: #FFF;
      border: 1px solid $orange;
    }
  }

  //product page
  #main {
    div.product {
      .summary {
        width: auto;
        height: auto;

        .shipping-info-wrapper {
          float: none;
          padding: 1em 0;
        }

        .product_meta * {
          color: $dark-gray;
        }
      }
      .woocommerce-product-gallery {
        height: 300px;
        figure {
          a {
            height: inherit;
            img {
              height: inherit;
              width: auto;
            }
          }
        }
      }

      form.cart {
        margin-bottom: 0;
        padding: 0;
      }
    }

    .tabs {
      li.active {
        &::after {
          content: none;
        }
      }
    }

    .related {
      margin-top: 1em;
      h2 {
        font-size: $h4-font-size;
        text-align: center;
      }

      .products.columns-4 {
        grid-template-columns: 1fr 1fr;

        li {
          width: 48.411765%;
          height: inherit;

          a.woocommerce-loop-product__link {
            padding: 0.2em;
            width: 100%;
            justify-content: space-between;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 4px 0px;

            h2.woocommerce-loop-product__title {
              margin-bottom: 0;
              font-size: $font-size-base;
            }

            .price {
              margin-bottom: 0.5em;
              font-size: $font-size-small;

              bdi {
                font-size: $font-size-small;
              }
            }
          }

          img {
            width: auto;
            max-height: 125px;
            margin: 0.5em 0;
          }
        }
      }
    }
  }

  //Cart


    .woocommerce-cart, .woocommerce-checkout {
      .woocommerce-cart-form, .woocommerce-checkout {
        .col-cart-one, .col-cart-two, .col2-set, .order-review-wrapper {
          width: 100%;
          padding: 1.5em;

          .cart-shop-table {
            padding: 1em 0;

            .product-info-wrapper {
              flex-direction: column;

              .product-info {
                .product-name a {
                  font-weight: $font-weight-normal;
                }
                .product-price {
                  color: $light-black;
                  margin: 0.7em 0;
                  font-weight: $font-weight-normal-bold;
                }
              }

              .product-quantity-selection {
                margin: 0;

                input {
                  width: 3em;
                  font-size: $font-size-base;
                }
              }
            }
          }

          .cart_totals {
            h2, p {
              text-align: center;
            }
          }

          .woocommerce-billing-fields {
            h3 {
              font-size: $h4-font-size;
              text-align: center;
            }
          }
        }
      }

      .coupon {
        text-align: center;

        button {
          margin-top: 1em;
        }
      }

      .cross-sells {
        h2 {
          font-size: $h4-font-size;
          text-align: center;
        }
        ul.products {
          &.columns-2 {
            grid-template-columns: 1fr 1fr;

            li.product {
              height: auto;
              .woocommerce-loop-product__link {
                padding: 0.5em;
                img {
                  max-height: 100px;
                  margin: 1em 0;
                }
                .price {
                  bdi {
                    font-size: $font-size-base;
                  }
                }
              }
            }
          }
        }
      }

      .wc-proceed-to-checkout, .selling-points-cart, .terms-wrapper {
        display: flex;
        justify-content: center;
      }
      .cart-selling-point:last-of-type {
        padding-right: 0;
      }
    }
  //Footer
  #colophon.site-footer {
    .col-full {
      .footer-widgets {
        flex-wrap: wrap;

        .block {
          margin: 0.5em 0;
          padding: 0;
          width: 50%;
          text-align: center;
          justify-content: center;

          &:first-of-type, &:last-of-type {
            width: 100%;
          }
        }
      }

      .footer-widgets-wrapper {
        flex-direction: column;
        margin-top: 0;

        .gallery-item {
          margin: 0 0.5em;
        }

        .widget {
          width: auto;
          margin: 1em 0 1em 0;

          li {
            margin: 0 0.5em;
          }
        }
      }
    }

    .btm_bar {
      width: auto;
      flex-flow: column-reverse;
      text-align: center;
      padding: 0px 0px 85px 0px;
      margin-top: 0;

      .widget {
        margin: 0;
        &:first-of-type {
          margin-top: 1.5em;
        }
      }
    }
  }
}
