//Product Page
#main {
  div.product {
    .summary {
      width: auto;
      height: auto;

      .product_title.entry-title {
        font-size: $h3-font-size;
      }

      .shipping-info-wrapper {
        float: none;
        padding: 1em 0;
      }
    }
    .woocommerce-product-gallery {
      height: 300px;
      figure {
        a {
          height: inherit;
          img {
            height: inherit;
            width: auto;
          }
        }
      }
    }

    form.cart {
      margin-bottom: 0;
      padding: 0;
    }
  }

  .tabs {
    li.active {
      &::after {
        content: none;
      }
    }
  }

  .related {
    margin-top: 1em;
    h2 {
      font-size: $h4-font-size;
      text-align: center;
    }

    .products.columns-4 {
      grid-template-columns: 1fr 1fr;

      li {
        width: 48.411765%;
        height: inherit;

        a.woocommerce-loop-product__link {
          padding: 0.2em;
          width: 100%;
          justify-content: space-between;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 4px 0px;

          h2.woocommerce-loop-product__title {
            margin-bottom: 0;
            font-size: $font-size-base;
          }

          .price {
            margin-bottom: 0.5em;
            font-size: $font-size-small;

            bdi {
              font-size: $font-size-small;
            }
          }
        }

        img {
          width: auto;
          max-height: 125px;
          margin: 0.5em 0;
        }
      }
    }
  }
}

.product-template-default .woocommerce-message {
  font-size: $font-size-small;
}
