//Product Archive
#page{
  .col-full {
    margin: 0 0.8em;
  }
  #content {
    margin: 0;
  }
}

#secondary {
  display: none;
  width: 100%;
  padding: 1em 1.4em;
  margin-top: 1.3em;
  border-radius: 10px;
  border: 1px solid #EFEFEF;
}

.widget_custom_html {
  display: block;
}

.storefront-sorting {
  display: none;
}

.woocommerce-products-header {
  padding: 2em;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1em;

  .term-description {
    width: 100%;
    text-align: left;
  }
}

#masthead {
  .header-wrapper {
    padding: 1em 0;

    div.header-mobile {
      padding-right: 0;
    }
  }
}
.col-full {
  header.woocommerce-products-header {
    align-items: unset;

    .term-description {
      margin-top: 1em;
    }
  }
  #main.site-main {
    #archive-top-filters.filter-wrapper {
      display: none;
      flex-wrap: wrap;

      .widget {
        width: 49%;
        margin: 0 0 3% 0;
      }

      div.widget_custom_html {
        display: none;
      }
    }
    ul.products {
      &.columns-3 {
        grid-template-columns: 1fr 1fr;

        &:last-of-type {
          margin-bottom: 2em;
        }

        li.product {
          height: auto;
          .woocommerce-loop-product__link {
            padding: 0.5em;
            img {
              max-height: 100px;
              margin: 1em 0;
            }
            .price {
              bdi {
                font-size: $font-size-base;
              }
            }
          }
        }
      }
    }
  }
}

.show_filter {
  margin: 1.4em 0;
  display: block;
  width: 100%;
  background-color: #FFF;
  border: 1px solid $orange;
  color: $orange;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    background-color: #FFF;
    border: 1px solid $orange;
    color: $orange;
  }
  &:active {
    background-color: $orange;
    color: #FFF;
    border: 1px solid $orange;
  }
}
