@media only screen and (max-width: 767px) {

  //Top bar
  .topbar {
    display: none;
  }

  #masthead {
  //Header
    .header-wrapper {

      .image-logo {
        flex: 2;

        img {
          max-height: 80px;
        }
      }

      .header-cart-wrapper {
        flex: 0;
      }

      .dgwt-wcas-search-icon.js-dgwt-wcas-search-icon-handler {
        margin-left: auto;
      }

      .header-mobile {
        @include flexbox;
        justify-content: flex-end;
        padding-right: 20px;

        i {
          transition: all 0.3s ease;
          vertical-align: bottom;
          transform: scale(2);

          &:active {
            transform: scale(1.6);
          }
        }

        a {
          line-height: 0;
        }
      }
    }
  } //Masthead end
}
