/* Cart */
.woocommerce-cart-form {
    margin-top: -50px;
  }

  button.button.update_cart {
     display: none;
  }

  .product-remove .remove::before {
    font-size: 22px;
    color: #1A936F;
    transition: all 0.25s ease;
  }

  .product-remove {
    border-bottom: none !important;
  }

  .product-remove:hover .remove:hover:before {
    color: #1A936F;
  }

  .woocommerce-cart-form tr th, tr.woocommerce-cart-form__cart-item.cart_item td {
    background-color: #FFF;
    text-align: center;
    vertical-align: middle;
  }

  tr.woocommerce-cart-form__cart-item.cart_item td {
      border-right: 1px solid;
      border-bottom: 1px solid;
      border-top: 1px solid;
      border-color: #f2f2f2;
  }

  table.cart td.actions {
    background-color: #ffffff !important;
  }


  .cart_totals table.shop_table.shop_table_responsive * {
    background-color: #FFF;
  }

  .cart_totals table.shop_table.shop_table_responsive td {
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
    border-color: #f2f2f2;
  }

  .cart_totals table.shop_table.shop_table_responsive tr:last-of-type td{
    border-bottom: 1px solid;
    border-color: #f2f2f2;
  }

/* Remove update cart button */
.woocommerce button[name="update_cart"],
.woocommerce input[name="update_cart"] {
	display: none;
}
