/* Cart */
.woocommerce-cart {

  //display none on these elements
  .storefront-breadcrumb, #update_cart, #post-7 .entry-title  {
    display: none;
  }

/* Col for cart */
  .col-cart-one {
    float: left;
    width: 60%;
    padding: 6em;
    background-color: $lightgray;

    .cart-header {
      .cart-product-count {
        font-weight: $font-weight-normal-bold;
        text-transform: $uppercase;
      }
      h3 {
        font-size: $h1-font-size;
        font-weight: $font-weight-normal-bold;
      }
    }

    .cart-shop-table {
      @include flexbox;
      justify-content: flex-start;
      border-top: 1px dashed $gray;
      height: 12em;
      &:last-of-type {
        border-bottom: 1px dashed $gray;
      }

      .product-thumbnail img {
        max-width: 9em;
        height: auto;
        object-fit: contain;
        margin: 0;
      }

      .product-quantity-selection {
        margin: 0 3em;
      }

      .product-info {
        .product-name a {
          font-size: $h5-font-size;
          text-decoration: none;
          font-weight: $font-weight-normal-bold;
          text-transform: $uppercase;
          &:hover {
            opacity: 0.7;
          }
        }
        .product-price {
          color: $darkgray;
        }
      }

      .product-quantity {
        margin-left: auto;
        margin-right: 2em;
      }

      .product-remove {
        .remove::before {
          content: "\f00d";
          color: $darkergray;
        }
      }
    }

    .coupons {
      input {
        background-color: $gray;
        box-shadow: none;
        opacity: 0.3;
        font-weight: $font-weight-normal-bold;
      }
    }
  }

  .col-cart-two {
    float: right;
    width: 33%;
  }

  .coupons {
    margin-top: 40px;
  }



/* TEMP - remove page titel cart */

.cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator {
  width: 100% !important;
}


}
