/* Cart */
.woocommerce-cart {
  button, .checkout-button {
    text-transform: uppercase;
    font-weight: $font-weight-normal-bold;
  }
  //display none on these elements
  .storefront-breadcrumb, #update_cart, #post-7 .entry-title  {
    display: none;
  }
  #cart-overview {
    width: 100%;
  }
/* Col for cart */
  .col-cart-one {
    float: left;
    width: 60%;
    padding: 6em;
    background-color: $light-gray;
    min-height: 800px;

    .cart-header {
      .cart-product-count {
        font-weight: $font-weight-normal-bold;
        text-transform: $uppercase;
      }
      h3 {
        font-size: $h1-font-size;
        font-weight: $font-weight-normal-bold;
      }
    }

    .cart-shop-table {
      @include flexbox;
      justify-content: flex-start;
      border-top: 1px dashed $gray;
      padding: 1.7em;
      &:last-of-type {
        border-bottom: 1px dashed $gray;
      }

      .product-thumbnail img {
        max-width: 5em;
        height: 5em;
        object-fit: contain;
        margin: 0;
      }

      .product-info-wrapper {
        display: flex;
        margin-left: 1em;
        justify-content: flex-start;

        .product-info {
          .product-name a {
            font-size: $font-size-small;
            text-decoration: none;
            font-weight: $font-weight-normal-bold;
            text-transform: $uppercase;
            &:hover {
              opacity: 0.7;
            }
          }
          .product-price {
            font-size: $font-size-small;
            color: $light-black;
          }
        }

        .product-quantity-selection {
          margin-right: 1em;
          @include flexbox;
        }
      }

      .product-quantity {
        display: flex;
        margin-right: 1em;
        margin-left: auto;
        div:last-of-type {
          margin-left: 0.5em;
          font-weight: $font-weight-normal-bold;
        }
      }
    }

    .cross-sells {
      margin-top: 7em;

      h2 {
        margin-bottom: 1em;
      }

      .product {
        background-color: $white;

        img {
          width: auto;
          max-width: 100%;
          padding: 0 1em;
        }
      }
    }
  }

  .col-cart-two {
    float: right;
    width: 40%;
    padding: 6em;
    min-height: 800px;

    .cart-overview {
      text-transform: uppercase;
      font-weight: $font-weight-normal-bold;
    }

    h2 {
      font-weight: $font-weight-normal-bold;
      font-size: $h3-font-size;
      line-height: 1;
      margin-bottom: 0.5em;
    }

    p {
      font-size: $font-size-small;
      color: $dark-gray;
    }

    hr {
      margin: 1.5em 0;
      background-color: $lighter-gray;
    }

    .cart-subtotal, .order-total {
      @include flexbox;
      justify-content: space-between;
    }

    .woocommerce-shipping-methods, .woocommerce-shipping-destination, .shipping-calculator-button {
      text-transform: none;
      font-weight: $font-weight-normal;
    }

    #shipping_method.woocommerce-shipping-methods {

      li {
        margin-bottom: 1rem;
      }

      input[type="radio"]:checked + label, input[type="radio"]:not(:checked) + label {
        display: block;
      }

      .woocommerce-Price-amount {
        float: right;
      }

      i.fas.fa-store-alt, i.fas.fa-truck {
        margin-right: 5px;
      }

      .shipping_logo {
        display: inline-block;
        width: 45px;
        margin-right: 5px;
      }

      .shipping_pickup_cart, .shipping_company_required {
        font-style: italic;
        font-size: $font-size-small;
        margin-left: 2.15rem;
      }

    }

    .cart-proceed-to-checkout {
      margin-top: 1.5em;
      .checkout-button {
        background-color: $green;
        font-size: $h5-font-size;

        &:hover {
          background-color: $green-hover;
        }
      }
    }

    .cart-selling-point {
      @include flexbox;
      margin-bottom: 1em;

      i {
        margin-right: 0.5em;
        color: $light-black;
      }
      p {
        margin: 0;
        color: $light-black;
      }
    }

    .terms-wrapper {
      @include flexbox;
      .terms  {
        margin-right: 1em;
      }
    }
  }

  .coupons {
    margin-top: 40px;
  }


  /* TEMP - remove page titel cart */

  .cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator {
    width: 100% !important;
  }

  /* TEMP - img styling cross sell */
  .cross-sells {
    img {
      max-width: 5em;
    }
  }

}


/* Cart + checkout */
.woocommerce-cart, .woocommerce-checkout {
  // Order total
  .order-total-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .includes_tax {
      font-size: $font-size-xtra-small;
      text-transform: $capitalize;
      font-weight: $font-weight-normal;
    }
  }

  //Coupon
  .cart-discount {
    @include flexbox;
    justify-content: space-between;
    border-top: 1px solid $lighter-gray;
    margin: 1.5em 0;
    padding-top: 1.5em;
  }
}



//Global styles
a.remove::before {
  content: "\f00d";
  color: $darker-gray;
}

.coupons {
  input {
    background-color: $lighter-gray !important;
    box-shadow: none !important;
    font-weight: $font-weight-normal-bold;
    padding: 10px;
  }
  button {
    padding: 8px 15px;
    text-transform: capitalize;
  }
}

form.checkout, form.woocommerce-cart-form {
  display: flex;
  flex-wrap: wrap;

  .col-cart-one, .col-cart-two, #order_review, .col2-set {
    float: none;
  }

  #payment, .cart-collaterals {
    position: sticky;
    top: 10%;
  }
}

.woocommerce-message, .woocommerce-info, .woocommerce-error {
  width: fit-content;
  margin-bottom: 1em;
  padding: 0 0 0 1.5em;
  border: 0;
  background-color: transparent;

  &::before {
    left: 0;
    top: 0;
  }
}
.woocommerce-message, .woocommerce-info {
  color: $green;
  &::before {
    color: $green;
  }
}
.woocommerce-error {
  color: $red;
  &::before {
    color: $red;
  }
}

//desktop only
@media only screen and (min-width: 1025px) {

  .selling-points-cart {
    margin-top: 7em;
  }

}
