//Fix product grid display on elementor pages
.elementor-products-grid {
  ul.products.elementor-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    li.product {
      height: auto;

      a.woocommerce-loop-product__link {
        @include flexbox;
      }

      .woocommerce-loop-product__title {
        max-width: 230px;
      }

      img {
        margin: auto;
        margin-bottom: 1em;
      }
    }
  }
}

/* Responsive - Mobile */
@media only screen and (max-width: 767px) {
  .elementor-products-grid {
    ul.products.elementor-grid {
      grid-template-columns: 1fr;

      .woocommerce-loop-product__title {
        max-width: 250px;
      }
    }
  }
}

/* Responsive - Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  .elementor-products-grid {
    ul.products.elementor-grid {
      grid-template-columns: 1fr 1fr 1fr;
      li:last-of-type {
        display: none;
      }
      li.product .woocommerce-loop-product__title {
        max-width: 150px;
      }
    }
  }

  .elementor-element ul.products li.product .badge-wrapper {
    width: 100%;
  }
}

.elementor-page .storefront-breadcrumb {
  display: none;
}
