//Fix product grid display on elementor pages
.elementor-products-grid {
  ul.products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    li.product {
      a.woocommerce-loop-product__link {
        @include flexbox;
      }
    }
  }
}

/* Responsive - Mobile */
@media only screen and (max-width: 767px) {
  .elementor-products-grid {
    ul.products {
      grid-template-columns: 1fr;
    }
  }
}

/* Responsive - Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  .elementor-products-grid {
    ul.products {
      grid-template-columns: 1fr 1fr 1fr;
      li:last-of-type {
        display: none;
      }
    }
  }

  .elementor-element ul.products li.product .badge-wrapper {
    width: 100%;
  }
}
