/* Product archive */

/* Same height on products */
ul.products li.product {
    height: 360px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  ul.products li.product a.woocommerce-loop-product__link {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  ul.products li.product img {
    max-height: 220px;
    width: auto;
    margin-bottom: auto;
    margin-top: auto;
  }
  /* Same height on products END*/
  
  .woocommerce-pagination {
    display: none;
  }
  
  .post-type-archive-product #content {
    margin-top: 30px;
  }
  
  .post-type-archive-product .storefront-breadcrumb {
    display: none;
  }
  
  .post-type-archive-product .page-title {
    font-size: 20px;
  }
  
  a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
    position: relative;
  }
  
  .badge, .onsale {
      display: block;
      color: #FFF;
      padding: 11px 2px 11px 2px !important;
      font-family: 'muli', sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-weight: 300 !important;
      font-size: 9px !important;
      border-radius: 0px;
      box-sizing: border-box;
      width: 33.3%;
    position: absolute;
    top: 0;
    z-index: 100;
    line-height: 0 !important;
  }
  .nyhed {
    right: 0;
    background-color: #49BEAA;
  }
  .eksklusiv {
    left: 50%;
    margin-left: -16.65%;
    background-color: #E26D5C;
  }
  .onsale {
    left: 0;
    background-color: #D0B353;
    border:0;
  }
  
  .single .badge {
      position: relative;
    margin-bottom: 10px
  }
  
  .single.single-product.woocommerce-page .onsale, .single.single-product.woocommerce-page .badge {
    display: none;
  }
  
  ul.products li.product .woocommerce-loop-product__title {
    margin: .6em 0;
  }
  
  /* Product arcive - Sidebar */
  .show_filter {
    display: none;
  }
  
  .widget_product_categories ul li::before {
    content: "";
  }
  
  .widget_product_categories ul li.current-cat::before {
    content: "\f111";
    color: #1A936F;
    opacity: 0.6;
  }
  
  .widget_product_categories ul li.current-cat > a {
    color: #1A936F;
  }
  
  .widget-area .widget-title {
    font-size: 16px;
  }
  
  .widget-area .widget a {
    text-decoration: none;
    font-weight: 500;
  }
  
  .widget_price_filter .ui-slider .ui-slider-range, .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #1A936F;
  }