/* Product archive */

//archive header
.woocommerce-products-header {
  padding: 5em;
  @include flexbox;
  justify-content: space-between;
  background-color: $light-gray;
  margin-bottom: 2%;

  .term-description {
    width: 40%;
  }
}

.storefront-breadcrumb {
  margin: 0;
}

//product

ul.products {
  @include reset_before_after;
  display: grid;
  column-gap: 1em;
  row-gap: 1em;

  &.columns-2 {
    grid-template-columns: 1fr 1fr;
  }

  &.columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1em;
  }

  &.columns-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  li.product {
    height: 460px;
    display: flex;
    flex-direction: column;
    width: auto !important;
    margin: 0 !important;

    .woocommerce-loop-product__link {
      height: 100%;
      padding: 2em 1em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      @include box-style;

      .price {
        @include flexbox;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        bdi {
          font-size: $h5-font-size
        }

        del {
          order: 2;
          bdi {
            font-size: $font-size-base;
          }
        }

        ins {
          order: 1;
          margin-left: 0;
        }

        .woocommerce-price-suffix {
          width: 100%;
        }
      }
    }

    img {
      max-height: 220px;
      width: auto;
      margin: 2em 0 1em 0;
    }

    .woocommerce-loop-product__title {
      margin: .6em 0;
    }

    //product badge
    .onsale {
      margin:0;
      padding: 0;
      position: absolute;
    }

    .onsale {
      top: 15%;
      right: 10%;
      width: 6.5em;
      height: 6.5em;
      z-index: 100;
      @include flexbox;
      justify-content: center;
      border-radius: 50%;
      color: $white;
      background-color: $light-black;
      border-width: 0;
    }

    .badge-wrapper {
      @include flexbox;
      justify-content: space-between;
      width: 80%;
      margin-top: auto;
      font-size: $font-size-small;

      .badge {
        font-weight: $font-weight-normal-bold;
        &::before {
          content: "\f00c";
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-family: Font Awesome\ 5 Free;
          float: left;
          margin-right: 5px;
        }
      }
    }


    //product badge end
  }
}
//product end

.woocommerce-pagination,
.single.single-product.woocommerce-page .onsale,
.single.single-product.woocommerce-page .badge,
.widget_categories ul li:before,
.show_filter {
  display: none;
}



//archive top widgets
.select2-container--open{
  .select2-dropdown--below {
    .select2-search--dropdown.select2-search--hide {
      display: block;
    }
  }
}

span.select2.select2-container.select2-container--default * {
  height: 40px;
  line-height: 40px;
}

.filter-wrapper {
  @include flexbox;
  justify-content: flex-start;
  flex-wrap: wrap;

  .widget_product_categories, .widget_custom_html {
    display: none;
  }

  .widget {
    width: 24%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;

    &.widget_custom_html {
      width: 100%;
    }

    form {
      margin: 0;
    }
  }
}
.woocommerce-ordering {
  float: right;
  margin: 0;
  padding: 0;
}
.storefront-sorting {
  margin: 5% 0 0 0;
  &:first-of-type {
    display: none;
  }
}
body .select2-container--default .select2-results__option--highlighted[aria-selected], body .select2-container--default .select2-results__option--highlighted[data-selected] {
     background-color: $yellow;
}
//archive top widgets end

//archive sidebar
#secondary {
  .show_sidebar_filter, .show_sidebar_cat, .woocommerce-widget-layered-nav {
    display: none;
  }
}

.widget_layered_nav {
  li:before {
    color: $gray;
  }
  .chosen:before {
    color: $blue;
    opacity: 1;
  }
}


.woocommerce-widget-layered-nav-list {
  a {
    margin-left: -25px;
    padding-left: 25px;
    position: relative;
    text-decoration: none !important;
  }

}

.widget_product_categories ul li{

  &.cat-item.current-cat::before {
    content: "\f054";
    font-family: Font Awesome\ 5 Free;
    color: $blue;
    opacity: 1;
  }
  &.cat-item::before {
    content: none;
  }

  a {
    text-decoration: none !important;
    font-weight: 500;
    text-transform: uppercase;
  }
}
//archive sidebar end


//load more button
.loadmore_button {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: auto;
  margin-top: 2%;
  display: block;
}
//load more button end



// Progress bar

  #progress-bar {
    display: block;
    width: 33%;
    height: 4px;
    background: $lighter-gray;
    border-radius: 20px;

    &::-moz-progress-bar {
      background: $blue;
      border-radius: 20px;
    }
    &::-webkit-progress-bar {
      background: transparent;
    }
    &::-webkit-progress-value {
      background: $blue;
      border-radius: 20px;
    }
  }
  .woocommerce-result-count {
    margin-top: 1em;
  }



// progress bar end
