/* Product page */

//Width on related products

#main {

  .product {
    overflow: visible;

    .woocommerce-product-gallery {
      width: 50%;
      height: 600px;

      figure {
        height: 100%;

        .woocommerce-product-gallery__image {
          @include flexbox;
          justify-content: center;
          height: inherit;
        }
      }
    }

    .summary {
      width: 43%;
      .price {
        bdi {
          font-size: $h4-font-size;
          color: $black;
        }
      }

      .price {
        @include flexbox;
        flex-wrap: wrap;

        .woocommerce-price-suffix {
          width: 100%;
          font-size: $font-size-small;
          color: $darker-gray;
        }
      }

      .variant-info-wrapper {
        border: 1px solid $gray;
        border-radius: 8px;
        padding: 1.6em 2.2em;
        margin: 1.5em 0;
        .info-text{
          &:first-of-type {
            font-size: $h5-font-size;
          }
        }
      }

      .out-of-stock {
        color: $red;
        &::before {
          content: "\f00d";
        }
      }

      .in-stock {
        color: $green;
        &::before {
          content: "\f00c";
        }
      }

      .qty_button {
        display: none;
      }

      input[type='number'] {
        -moz-appearance:textfield;
        padding: 18px 0;
        &::-webkit-inner-spin-button,
         ::-webkit-outer-spin-button {
           -webkit-appearance: none;
           margin: 0;
         }
      }

      .single_add_to_cart_button {
        padding: 18px 25px;
      }

      .shipping-info-wrapper {
        float: right;
        padding: 5px 0;
      }
      .info-text {
        margin: 0;
        &:first-of-type {
          font-weight: $font-weight-bold;
        }
      }

      .product_meta {
        border-top: 0;

        *{
          color: $dark-gray;
          font-size: $font-size-small;
          font-weight: $font-weight-light;
          text-decoration: none;
        }
      }
    }

    .storefront-full-width-content {
      .related {
        &.products {
          h2 {
            &:first-child {
              text-align: left;
            }
          }
        }
      }
    }
  }

  .tabs {
    li {
      &.active {
        background-color: $light-gray;
        transition: all 0.2s ease;
        font-weight: $font-weight-normal-bold;
      }

      a {
        padding: 1em;
      }
    }
  }
}



/* Styling for select button */

/* adds style to divs */
/* by default all divs are hidden */
.custom_option {
  display: none;
  border: 1px solid $gray;
  margin: 5px 5px 0 0;
  padding: 7px 14px;
  cursor: pointer;
  background-color: $white;
  color: $light-black;
  border-radius: 6px;
  transition: 0.2s ease;

  &:hover {
    background-color: $light-gray;
    transition: 0.2s ease;
  }
  &.is-visible {
    display:inline-block;
  }
  &.on {
    background-color: $orange;
    color: $white;
    border-color: $orange;
  }
}
