/* Product archive */

//product
.product {
  height: 360px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  .woocommerce-loop-product__link {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
  }

  img {
    max-height: 220px;
    width: auto;
    margin-bottom: auto;
    margin-top: auto;
  }

  .woocommerce-loop-product__title {
    margin: .6em 0;
  }
}
//product end

.woocommerce-pagination,
.single.single-product.woocommerce-page .onsale,
.single.single-product.woocommerce-page .badge,
.widget_categories ul li:before,
.show_filter {
  display: none;
}

//product badge
.badge, .onsale {
  display: block;
  color: #FFF;
  padding: 11px 2px 11px 2px !important;
  font-family: 'muli', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300 !important;
  font-size: 9px !important;
  border-radius: 0px;
  box-sizing: border-box;
  width: 33.3%;
  position: absolute;
  top: 0;
  z-index: 100;
  line-height: 0 !important;
}
.nyhed {
  right: 0;
  background-color: #49BEAA;
}
.eksklusiv {
  left: 50%;
  margin-left: -16.65%;
  background-color: #E26D5C;
}
.onsale {
  left: 0;
  background-color: #D0B353;
  border:0;
}
.single .badge {
  position: relative;
  margin-bottom: 10px
}
//product badge end

//archive sidebar
.widget_categories li{
  padding-left: 0 !important;

  a {
    text-decoration: none !important;
    font-weight: 500 !important;
    text-transform: uppercase;
  }
}
//archive sidebar end
