// Cart & Checkout

.woocommerce-cart, .woocommerce-checkout {
  article.hentry, #main, #primary {
    margin: 0;
  }
  .woocommerce-cart-form, .woocommerce-checkout {
    flex-wrap: wrap;

    .col-cart-one, .col-cart-two, .col2-set, .order-review-wrapper {
      width: 100%;
      padding: 3em;

//Cart
      .cross-sells {
        margin-top: 3em;

        h2 {
          font-size: $h4-font-size;
          text-align: center;
        }
      }

      .coupon, .coupons {
        #coupon_code {
          width: auto;
        }
      }

      #shipping_method {
        li {
          label {
            width: 100%;

            img {
              width: 80px;
              vertical-align: middle;
            }
          }

          .woocommerce-Price-amount {
            float: right;

            bdi, .woocommerce-Price-currencySymbol  {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .selling-points-cart {
    display: flex;

    .cart-selling-point {
      padding-right: 1em;
    }
  }

//Checkout
  .woocommerce_checkout_coupon {
    padding: 0 3em 1em 3em;
  }
}
