/* Footer */


.site-footer {
  padding: 50px 0 0 0;

  .col-full {
    .footer-widgets {
      padding: 0;
      border-bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .block {
        float:none !important;

        .widget {
          margin: 0;

          .widget-title {
            text-transform: uppercase;
            font-size: $font-size-base;
            font-weight: $font-weight-normal;
            border: 0;
          }

          .textwidget {
            p {
              font-weight: $font-weight-light;
            }
          }

          .menu {
            li {
              padding: 0;

              a {
                text-decoration: none;
                font-size: $font-size-base;
                font-weight: $font-weight-light;
              }
            }
            @include reset_before_after;
          }
        }
      }
    }
  }
.footer-widgets-wrapper {
  @include flexbox;
  justify-content: flex-end;

  .widget {
    width: 21.7391304348%;
    margin: 0;
  }

  .gallery {
    @include flexbox;
    margin: 0;

    .gallery-item {
      max-width: 70px;
      padding: 5px;
    }
  }

  #menu-social {
    @include flexbox;

    li {
      padding: 0;
      margin: 10px;
      font-size: $h1-font-size;

      &::before {
        content: none;
      }
    }
  }
}
  .btm_bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 7.5em;
    margin-bottom: 3em;
    font-size: $font-size-small;

    &.col-full::before, &.col-full::after {
      content: none;
    }

    p {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    ul {
      @include reset_list-style;
      max-width: 350px;
      margin: 0;

      li {
        margin: 0 10px;
        padding: 0;

        a {
          text-decoration: none;
        }

        &::before {
          content: none;
        }
      }
    }
  }
}
