/* Footer */


.site-footer {
  padding: 50px 0 0 0;

  .col-full {
    .footer-widgets {
      padding: 0;
      border-bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      @include reset_before_after;

      .block {
        float:none !important;
        margin: 0;
        width: 25%;
        padding-right: 5em;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;


        &:last-of-type {
          padding-right: 0;
        }
        &:first-of-type {
          width: 40%;
        }

      .widget {
        margin: 0;

        .widget-title {
          text-transform: uppercase;
          font-size: $font-size-base;
          font-weight: $font-weight-normal;
          border: 0;
        }

        .textwidget {
          p {
            font-weight: $font-weight-light;
          }
        }

          .menu {
            li {
              padding: 0;

              a {
                text-decoration: none;
                font-size: $font-size-base;
                font-weight: $font-weight-normal-bold;
              }
            }
          }
          @include reset_before_after;
        }
      }
    }
  }
.footer-widgets-wrapper {
  @include flexbox;
  justify-content: flex-end;
  margin-top: 2em;

  .widget {
    margin: 0 0 0 0em;
  }

  .gallery {
    @include flexbox;
    justify-content: flex-end;
    margin: 0;

    .gallery-item {
      max-width: 60px;
      margin-right: 0.7em;
    }
  }

  .menu-social-container {
    display: flex;
    justify-content: flex-end;
  }

  #menu-social {
    @include flexbox;

    li {
      padding: 0;
      margin-right: 0.7em;
      margin-bottom: 0;
      font-size: $h1-font-size;

      &::before {
        content: none;
      }
    }
  }

  .widget {
    width: 25%;
    padding-right: 1em;
    &:last-of-type {
      padding-right: 0;
    }
  }
}
  .btm_bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4em;
    font-size: $font-size-small;
    border-top: 1px solid $gray;
    padding-top: 2em;
    @include reset_before_after;

    p {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    ul {
      @include reset_list-style;
      max-width: 350px;
      margin: 0;

      li {
        margin: 0 10px;
        padding: 0;

        a {
          text-decoration: none;
        }
      }
    }
  }
}

.widget_nav_menu {
  ul {
    li {
      @include reset_before_after;
    }
  }
}

.storefront-handheld-footer-bar {
  a::before {
    color: $blue;
  }
  ul li.cart .footer-cart-contents span.count {
    background-color: $blue;
  }
}
.dgwt-wcas-om-bar button.dgwt-wcas-om-return {
  background-color: $blue;
}
