/* Header */

#masthead {
    position: sticky;
    z-index: 999;
    background-color: $primary;
    transition: 0.3s all;

    .header-wrapper {
      @include flexbox;
      justify-content: space-between;
      padding: 1em 0;
      position: relative;

      .image-logo {
        margin-right: 5em;

        img {
          height: auto;
          max-width: 60%;
        }
      }

      .header-search {
        .woocommerce-product-search {
          margin: 0;
        }
      }

      .navigation-header-content{
        margin-left: 1em;
        margin-right: 1em;
        @include flexbox;
        justify-content: flex-end;
        width: 100%;


        ul.menu {
          li.current-menu-item>a, a:hover {
            color: $secondary;
          }
          li {
            a {
              padding: 1em 2em;
              text-transform: uppercase;
              letter-spacing: 0.25em;
              width: fit-content;
              font-family: $font-family-title;
            }

            ul li a {
              min-width: 250px;
            }
          }

          .sub-menu {
            transition: none;
          }
        }
      }

      .header-cart-wrapper {
        display: flex;
        justify-content: flex-end;

          .header-cart {
            position: relative;

            .cart-product-amount {
              position: absolute;
              padding: 1px;
              width: 17px;
              background: $white;
              color: $primary;
              font-size: 11px;
              line-height: 14px;
              min-width: 13px;
              text-align: center;
              border-radius: 50%;
              border: 1px solid #2f2d32;
              top: -13px;
              right: -14px;
              height: 17px;
              font-weight: $font-weight-normal;
              z-index: 20;
            }

            i {
              font-size: $h4-font-size;
              color: $white;
              &:hover {
                color: $secondary;
              }
            }
          }
        }
      }

}
