/* Header */

#masthead {
    position: sticky;
    z-index: 999;
    background-color: $white;
    transition: 0.3s all;

    .col-full {
      position: relative;
    }

    .header-wrapper {
      @include flexbox;
      justify-content: space-between;
      padding: 1em 0;

      .image-logo {
        flex: 1;
        margin-right: auto;

        img {
          max-height: 50px;
          width: auto;
        }
      }

      .header-search {
        flex: 1;
        .woocommerce-product-search {
          margin: 0;
        }
      }

      .header-cart-wrapper {
        flex: 1;
        display: flex;
        justify-content: flex-end;

        .header-cart {
          position: relative;

          .cart-product-amount {
            position: absolute;
            padding: 1px;
            width: 17px;
            background: #2f2d3200;
            color: $black;
            font-size: 11px;
            line-height: 14px;
            min-width: 13px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #2f2d32;
            top: -13px;
            right: -14px;
            height: 17px;
            font-weight: $font-weight-normal;
            z-index: 20;
          }

          i {
            font-size: $h4-font-size;
          }
        }
      }

      #cart-preview {
        display: block;
        background-color: skyblue;
        width: 200px;
        height: 200px;
        position: absolute;
        right: 0;
        top: 100%;
      }
    }

    .navigation-header-content{
      justify-content: center;
      @include flexbox;
      background-color: $gray;

      a {
        padding: 1em;
      }
    }

}
