/* Page wrapper */

#page {
    max-width: 100%;
    margin: auto;
  	overflow-x: visible;
  }

  .site {
    background: $white;
  }

  .woocommerce-page #content {
    margin: 0 60px;
  }

  .storefront-breadcrumb {
    margin: 0 60px 3.706325903em;
  }

  /* Content wrapper */
  /* Container width | col-full */
  .col-full {
    width: inherit;
    max-width: 1400px !important;
    padding: 0px !important;
    margin: auto;
  }
