/* Page wrapper */

#page {
    max-width: 100%;
    margin: auto;
  	overflow-x: visible;
  }

  .site {
    background: $white;
  }

  /* Content wrapper */
  /* Container width | col-full */
  .col-full {
    width: inherit;
    max-width: 1400px !important;
    margin: auto;
  }

input {
  border-radius: $global-radius;
}
