//Font
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

@import 'variables.scss';
@import 'layout.scss';
@import 'topbar.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'tablet.scss';
@import 'mobile.scss';
@import 'mmenu-light.scss';
@import '../scss/woocommerce/product-page.scss';
@import '../scss/woocommerce/product-archive.scss';
@import '../scss/woocommerce/product-category.scss';
@import '../scss/woocommerce/cart.scss';
@import '../scss/woocommerce/checkout.scss';




// remove after test
/*
.site, #page {
  background-color: $primary-color;
}

h2 {
  font-size: $font-size;

  &.entry-title {
    color: white;
  }
}

.nav-menu {
  font-size: $font-size;
  background-color: $blue;
}
*/



/* Links */
a, button {
  transition: all 0.2s ease;
}

a:focus, button:focus, input:focus {
  outline: none;
}

/* Buttons */
button, input[type="button"], input[type="reset"], input[type="submit"], .button, .widget a.button {
  border-radius: 3px;
}
#masthead button {
  border-radius: 10px;
}

/* Responsive - Desktop */
@media only screen and (min-width: 1024px) {

  .header-mobile {
    display: none;
  }

  /* Sorting */
  .storefront-sorting select {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }

  /* Cart Page */
  table.cart td.product-remove a.remove {
    font-size: 18px;
  }

}

@media only screen and (max-width: 1340px) {

  .sf_top_bar, .header-wrapper, .navigation-header-content {
    padding: 0 2%;
  }

}
