/* Responsive - Tablet */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .woocommerce-page {
      #content {
        margin: 0 3%;
      }
    }

  /* Header Tablet */
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
    }

    .site-search .widget_product_search form::before, .navigation-header {
      display: none;
    }
    .site-search .widget_product_search form {
      display: flex;
    }
    .header-mobile {
      display: block;
    }

    .header-mobile i {
      transform: scale(2);
      margin-right: 20px;
      margin-left: 20px;
      transition: all 0.3s ease;
    }

    .header-mobile i:active {
      transform: scale(1.2);
    }

    .storefront-primary-navigation {
      display: none;
    }

    .col-full::before, .col-full::after {
      display: none;
    }

    #masthead {
      .selling-points {
      flex: unset;
        .topbar-selling-point {
          padding-right: 1em;
          width: fit-content;
        }
      }

      .header-wrapper {
        flex-wrap: nowrap;
        align-items: center;
        padding: 1em;
      }

      .image-logo {
        width: 15%;
      }
    }

    .topbar, .storefront-breadcrumb {
      padding: 0.5em 1em !important;
    }
    /* Header Tablet End */

    /* Archive Page */

    .col-full .woocommerce-products-header {
      padding: 2em;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;

      .page-title {
        margin: 0;
      }

      .term-description {
        width: auto;

        p {
          margin: 0;
        }
      }
    }

    #primary {
      width: 100%;
    }
    #main.site-main {

      #archive-top-filters {
        margin-bottom: 2%;

        .widget_custom_html {
          display: block;
        }

        .widget_product_categories {
          width: 100%;
          display: none;
          justify-content: flex-start;
          flex-wrap: wrap;

          .product-categories {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            li {
              padding-right: 2%;
              padding-left: 0;
              margin-bottom: 2%;

              a {
                border: 1px solid;
                border-radius: 4px;
                padding: 0.6em 1em;
                transition: all 0.3s ease;
                display: block;

                &:focus {
                  background-color: $lighter-gray;
                }
              }
            }
          }
        }
      }

      ul.products.columns-3 {

        @include reset_before_after;

        ul {
          display: none;
        }

        li.product {
          height: 420px;

          .badge-wrapper {
            display: none;
          }
        }
      }
    }

    #secondary {
      display: none;
    }

    .loadmore_button {
      margin: 0 auto;
    }

    /* Product Page */

   .single-product div.product .summary, .woocommerce-tabs .panel, .cart_totals {
      width: auto !important;
    }

    #primary #main .product .woocommerce-product-gallery {
      width: 100%;
    }

    .woocommerce-tabs ul.tabs {
      width: 50%
    }
    .checkout-button {
      width: fit-content;
      float: right;
    }
    .related .products.columns-4 {
      li.product {
        height: 100%;
        .amount bdi {
          font-size: $font-size-base !important;
        }
      }
    }


    /* Cart Page */
    table.cart td.product-remove a.remove {
      font-size: 18px;
    }

  .woocommerce-cart-form__cart-item .product-name {
      font-size: 12px;
    }

    /* Checkout Page */
    .woocommerce-checkout #content {
      margin-top: 50px;
    }
    .woocommerce-checkout #header-nav {
      height: 4px;
    }

  }
