/* Responsive - Tablet */
@media only screen and (max-width: 1024px)  {

@import '../scss/tablet/tablet-header.scss';
@import '../scss/tablet/tablet-product-archive.scss';
@import '../scss/tablet/tablet-product-page.scss';
@import '../scss/tablet/tablet-checkout.scss';
@import '../scss/tablet/tablet-footer.scss';

}
