.topbar {
    min-height: 50px;
    background-color: $gray;
    padding: 10px 0 10px 0;

    .topbar-wrapper {
        display: flex;
    }

    .selling-points {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex: 50%;

        .topbar-selling-point {
            @include flexbox;
            font-weight: $font-weight-normal-bold;
            font-size: $font-size-small;
            padding-right: 40px;

            i {
                padding-right: 10px;
            }

            p {
                margin: 0;
            }

            .selling-point-wrapper {
                .selling-point-title {
                    margin: 0;
                    font-size: $font-size-small;
                }
            }

        }
    }

    .top-menu {
        flex: 50%;
    }
}
