
// Colors
$light-gray: #f9f9f9;
$lighter-gray: #EBEBEB;
$gray: #dbdbdb;
$dark-gray:#8F8F8F;
$darker-gray:#C2C2C2;
$light-black: #404040;
$black: #000000;
$white: #ffffff;
$blue: #bd7b00;
$green: rgba(66,162,27,0.73);
$red: rgba(228,55,51,0.8);


// Hover
$blue-hover: #f5a103;
$green-hover:rgba(66,162,27,0.9);

// Animation duration on eg. hover
* {
  transition: all 0.2s ease;
}


// Font
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-small: $font-size-base * 0.75;
$font-size-xtra-small: $font-size-base * 0.65;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-normal-bold: 500;
$font-weight-bold: 700;

$uppercase: uppercase;
$lowercase: lowercase;
$capitalize: capitalize;


$line-height-base: 1.5;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.250;

$font-family-sans-serif:      "Work Sans", "Helvetica", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base:            $font-family-sans-serif;


html, body, button, input, textarea {
  font-family: $font-family-base;
}


// Heading

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: $font-family-base;
}


h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

//Global element styling

$global-radius: 3px;


//Layout

@mixin flexbox {
  display: flex;
  align-items: center;
}


//Elements
@mixin box-style {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
}

@mixin reset_before_after {
  &::before, &::after {
    content: none;
  }
}

@mixin reset_list-style {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
