$primary-color: #333;
$font-size: 20px;
$blue: green;

.site, #page {
  background-color: $primary-color;
}

h2 {
  font-size: $font-size;

  &.entry-title {
    color: white;
  }
}

.nav-menu {
  font-size: $font-size;
  background-color: $blue;
}